@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header-wrapper, .footer-wrapper {
  margin: 0;
  margin-right: 0px;
  width: 100%;
  height: 830px;
}

.footer-wrapper {
  height: 500px;
}

.logo-area {
  width: 100%;
  margin: 0;
}

.logo {
  margin-left: 80px;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #737373;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #ffffff;
  width: 100%;
  height: 100%;
}

.header-p1 {
  margin: 80px 0 30px 0;
  font-size: 25px;
  font-weight: 600;
}

.header-p2 {
  margin-bottom: 3rem;
  font-size: 25px;
  font-weight: 500;
}

.header-h {
  text-align: center;
  margin: 0 100px 70px 100px;
  font-size: 60px;
  
}

.play-store,
.app-store {
  color: #ffffff;
  background-color: #f74a25;

  border: #f74a25 1px solid;
  border-radius: 30px;

  padding: 20px 40px;

  font-size: 25px;
  font-weight: 600;
}

.play-store {
  margin-right: 40px;
}

.app-store {
  background-color: transparent;
  border: #ffffff 1px solid;
}

.phones {
  text-align: center;
}

.hr-line {
  max-width: 70%;
  margin: 20px auto;
  border-color: #E4E4E4;
}

.main-header {
  font-size: 44px;
  text-align: center;
  margin-top: 5%;
  
}
.create-account,
.variaties {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 700px;
  margin: 0;

  background: #ffffff;
}

.varieties {
  margin-top: 100px;
}

.phone1,
.phone2 {
  margin: 0 150px;
  filter: drop-shadow(50px 30px 150px rgb(172, 163, 163));
}

.info {
  margin-right: 150px;
}
.info,
.info2 {
  padding: 40px;
  width: 600px;
  height: 300px;
}

.info2 {
  margin-left: 150px;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #fa4a0c;
}

.p1 {
  margin-top: 10px;
  margin-bottom: 15px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}

.p2 {
  margin-top: 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #737373;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #737373;
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #ffffff;
  width: 100%;
  height: 100%;
}
  .logo-socials-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .facebook {
    margin: 0 30px;
  
  }

  .logo-footer {
    margin-left: 80px;
  }

 